* {
    margin: 0;
    color: white;
    padding: 0;
}

body {
    background-color: black;
}

button{
    cursor: pointer;
}

/* navbar */
nav {
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
}

.images {
    display: flex;
    height: 6vh;
    margin-left: 4vw;
    cursor: pointer;
}

.linha_vertical {
    border-left: 1px solid white;
}

.text-nav {
    color: white;
    font-family: Jost, sans-serif;
    text-transform: uppercase;
    padding: 5px;
}

a {
    margin-left: 10px;
    text-decoration: none;
    margin-right: 5px;
}

/* sections */

section {
    display: flex;
    height: 55vh;
    flex-direction: column;
}

.section-one {
    display: flex;
    flex-direction: row;
    padding: 4vh;
    justify-content: space-between;
}

.text_introduction {
    margin-left: 10vh;
    max-width: 40vw;
}


.under-text {
    display: flex;
    justify-content: space-between;
    max-width: 30vw;
    margin-top: 2vh;
    padding-left: 3vh;
}

.text-under-text {
    font-size: 2vh;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding-top: 1vh;
    max-width: 30vh;
    margin-right: 10vh;
}

.logo {
    height: 8vh;
    margin-left: -3.5vh;
}

.texto {
    font-family: "Cabin", sans-serif;
    font-size: 6vh;
    font-weight: bold;
    max-width: 400vh;
}


.texto_inicio {
    font-family: "Jost", sans-serif;
    font-size: 4vh;
}

.texto_colorido {
    color: #0DB628;
}

.button {
    font-family: "Inter", sans-serif;
    background-color: #0DB628;
    border-radius: 10px;
    padding: 10px;
    width: 25vw;
    height: 7vh;
    border: none;
    font-size: 3vh;
    margin-top: 45px;
}



.section-four {
    background-color: #141212;
}



.carro-section-one {
    display: flex;
    flex-direction: row;    
    margin-right: 20vh;
    justify-content: center;
    align-items: center;
}

.carro-branco {
    height: 50vh;
    position: absolute;
}

.circle {
    height: 50vh;
    width: 50vh;

    border-radius: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, #1F1E1E 0%, #6F6666 100%);
}



/* -------------------------------------------------------------------Segunda Section------------------------------------------------------------------- */
.section-two {
    padding: 7vh;
    height: 70vh;
    background-color: #141212;
    flex-direction: row;
    justify-content: space-around;
}

form.Formulário {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    background-color: #141212;
    gap: 20px;
    border-radius: 15px;
    border: none;
}

input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 23vw;
    color: #000000;
}

.btn {
    border: none;
    border-radius: 10px;
    padding: 14px;
    width: 24, 5vw;
    font-family: "Inter", sans-serif;
    font-size: 2.5vh;
    background-color: #0DB628;
    
}

.Box {
    border: 2px solid wheat;
    border-radius: 15px;
    border-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 70vh;
}

.titulo {
    max-width: 25vw;
    font-family: cabin;
    font-size: 36;
}


.lt1 {
    border-color: #0DB628;
    width: 19vh;
    margin-left: 3vh;
}

.passo{
    display: flex;
    align-items: center;
    padding: 3vh;
    margin: 3vh;
    background-color: #2A2A2A;
    font-size: 2vh;
    height: 13vh;
    width: 30vw;
    border-radius:10px;
    border: 2px solid #5A5A5A;
}

.passo h4 {
    font-size: 3vh;
}

.passo img {
    height: 12vh;
}

.text-passo{
    padding: 3vh;
    display: flex;
    flex-direction: column;
}



.lt2 {
    margin-left: 25vh;
    transform:rotate(20deg);
    border: 1px dashed;
    border-color: #0DB628;
    width: 18vh;
}

.passos {
    font-family: "Cabin", sans-serif;
    justify-content: space-between;
}
/* ---------------- section three------------- */


.section-three{
    display: flex;
    align-items: center;
}

.section-three h1 {
    padding: 5vh;
    font-family: 'Cabin', sans-serif; 
}

.boxes{
    display: flex;
    flex-direction: row;
}

.box-three{
    display: flex;
    flex-direction: column;
    background-color: #2A2A2A;
    font-size: 2vh;
    margin: 2vh;
    height: 12vh;
    width: 18vw;
    padding: 3vh;
    border-radius:10px;
    border: 2px solid #5A5A5A;
}

.box-three h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
}

.box-three h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #0DB628;
}

/* carros */
.carros{
    display: flex;
    align-items: center;
}

.carro1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh;
}

.carro1 img {
    position: absolute;
    height: 22vh;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 768px) {
    /* Corpo do documento */
    body {
        font-size: 14px;
    }

    /* Layout da navegação */
    nav {
        flex-direction: column;
        align-items: center;
    }



    /* Estilo para as seções */
    section {
        height: auto; /* Altura automática para acomodar o conteúdo */
    }

    /* Estilo para a seção 1 */
    .section-one {
        flex-direction: column; /* Alterar para coluna */
        align-items: center;
        width: 90vw;
    }

    /* Estilo para a introdução de texto */
    .text_introduction {
        margin-left: 0; /* Remover margem à esquerda */
    }

    /* Ajuste do tamanho dos títulos */
    h1, h2, h3, h4, h5, h6 {
        font-size: 12px; /* Defina o tamanho da fonte conforme necessário */
    }

    /* Estilo para os passos na seção dois */
    .passos {
        flex-direction: column; /* Alterar para coluna */
        align-items: center;
        justify-content: center;
    }

    .passo{
        width: fit-content;
    }

    .lt2{
        display: none;
    }

    .text-passo{
        width: fit-content;
    }

    .text-passo h4{
        font-size: 16px;
    }
    .text-passo p{
        font-size: 10px;
    }

    .circle{
        height: 25vh;
        width: 25vh;
    }

    .button{
        width: fit-content;
    }

    span{
        font-size: 16px;

    }

    img{
        scale: 50%;
    }



    .section-two{
        display: flex;
        height: 150vh;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Estilo para o formulário na seção dois */
    .Box {
        width: 90%; /* Redimensionar a largura */
        max-width: 300px; /* Definir largura máxima */
    }

    /* Estilo para as caixas na seção três */
    .boxes {
        flex-direction: column; /* Alterar para coluna */
        align-items: center;
    }

    .Formulário{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .Formulário input{
        width: 50vw;

    }
    /* Estilo para os carros na seção três */
    .carros {
        flex-direction: column; /* Alterar para coluna */
        align-items: center;
    }
}